:root{
    --bgColor:#232323;
    --whiteColor:#ffffff;
    --blackColor:#000000;
    --yellowColor: #ff0;
    --grayColor: #f0f0f0;
 }


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background-image: url("./assets/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg"); */ 
  }

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: brown;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

.logo{
    font-size: 30px;
    margin: 20px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 20px;

    
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        margin: 10px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


@media (max-width: 600px) {
  .navbar {
    width: 100%;

  }

  .toggle-button {
      display: flex;
      margin: 10px;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}





/* about page */


.aboutPage-container {
    width: 100%;
    height: 100vh;

}
.aboutPage {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 50px 75px 20px 75px;

}

.hero-img {
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Rounded image */
    margin-right: 40px; /* Add some space between image and text */
}

.hero-header{
    font-size: 45px;
    text-decoration: underline double;
    color: #000000;
}
.description {
    flex-grow: 1; /* Take remaining space */
    font-size: 22px;
    line-height: 1.75rem;
}


@media (max-width: 900px) {
.aboutPage{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 20px 50px 0 50px;
    text-align: center;
}
.hero-img{
    margin: 0;
}

}

@media (max-width: 480px) {
  .aboutPage{

  }
  .hero-img{
  }
  
  }



/* skills */
.skill-bars{
    height: 100vh;
    margin: 50px 75px 200px 75px;
    display: grid;
    grid-template-columns:  530px 530px  ;
    gap: 50px;
    
  }
  .skills-header{
    text-align: center;
    padding-top: 100px;
  }

.group1 {
  display: flex;
  flex-direction: column-reverse;
}
.group2{
  display: flex;
  flex-direction: column;


}




  .pBar{
    margin: 20px 0;
    padding: 8px 0;
  }
  .pBar:first-child{
    margin-top: 0px;
  }


  .info{
    margin-bottom: 5px;
  }
  .info span{
    font-weight: 500;
    font-size: 20px; opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .progress-line{
    height: 10px; width: 100%;
    background: #f0f0f0; position: relative;
    transform: scaleX(0); transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .progress-line span{
    height: 100%; position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #100404;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .progress-line span::before{
    position: absolute; content: "";
    top: -10px; right: 0;
    height: 0; width: 0; opacity: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute; top: -28px;
    right: 0; font-weight: 500;
    background: #000;
    color: #fff; opacity: 0;
    padding: 1px 8px;
    font-size: 18px;
    border-radius: 3px;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .html span{
    width: 89%;
  }
  .css span{
    width: 92%;
  }
  .JavaScript span{
    width: 75%;
  }
  .react span{
    width: 80%;
  }
  .mongoDB span{
    width: 75%;
  }
  .github span{
    width: 80%;
  }
  .python span{
    width: 65%;
  }
  .mysql span{
    width: 60%;
  }
  
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .html span::after{
    content: "89%";
  }

  .css ::after{
    content: "92%";
  }
  .JavaScript span::after{
    content: "75%";
  }
  .react span::after{
    content: "80%";
  }
  .mongoDB span::after{
    content:"75%";
  }
  .github span::after{
    content: "80%";
  }
  .python span::after{
    content: "65%";
  }
  .mysql span::after{
    content: "60%";
  }





  /* Media Query */
  /* For tablet */
  @media screen and (max-width:900px){
    h1{
      padding-top: 100px;
      font-size: 2rem;
      text-align: center;
    }
    .skill-bars{
    height: auto;
    display: inline-block;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    }
    .group1{
      flex-direction: column;
    }
  }
  
  /* For mobile */
  @media screen and (max-width :600px) {
    h1{
      font-size: 1rem;
      text-align: center;
      font-size: 30px;
  
    }
    .skill-bars{
      padding: 10px 10px;
      width: 450px; 
      background: #fff;
      box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
      border-radius: 8px;
    
    }
    
  }






  /* Project Section  */

  

























/* Footer  */


.footer {
  background-color: #6881B6;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
}

.contact-info {
  text-align: left;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info span {
  color: #fff;
  font-weight: bold;
}

.footer .copyright {
  margin-top: 20px;
  font-size: 14px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

